<div class="row justify-content-center">
    <div class="col-md-6 m-5">
      <h3>B) Professional Development (100)</h3>
        <div class="card">
            <div class="card-header">4. Industry Association (20)
            </div>
            <div class="card-body">
                <form action="#" [formGroup]="part_b14">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name of Industry</label>
                        <input type="text" class="form-control" name="industry"  formControlName="industry">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Type of Industry</label>
                        <input type="text" class="form-control" name="industry_type" formControlName="industry_type">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Type of Association</label>
                        <input type="text" class="form-control" name="association_type"  formControlName="association_type">
                      </div>    
                      <div class="form-group">
                        <label for="exampleInputEmail1">Number of Beneficiaries</label>
                        <input type="text" class="form-control" name="beneficiaries_no"  formControlName="beneficiaries_no">
                      </div>                   
                      <div class="form-group">
                        <label for="exampleInputEmail1">Supported Documents</label>
                        <input type="text" class="form-control" name="docs_b14" formControlName="docs_b14">
                      </div>
                      <button type="submit" class="btn btn-primary mt-2">Submit</button>
                    </form>
            </div>
        </div>
            
    
    </div>
    
</div>
