<div class="row justify-content-center">
    <div class="col-md-6 m-5">

        <div class="card">
            <div class="card-header">5.	Innovations/ Teaching material created (20)

            </div>
            <div class="card-body">
                <form action="#" [formGroup]="part_a14">
                    <div class="form-group">
                        <label for="exampleInputEmail1">subject</label>
                        <input type="text" class="form-control" name="subject" formControlName="subject" >
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Type of Innovation</label>
                        <input type="text" class="form-control" name="innovation_type" formControlName="innovation_type"  >
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Details of Innovation/Material Created</label>
                        <input type="text" class="form-control"name="Innovation_material"  formControlName="Innovation_material">
                      </div>

                     
                      <div class="form-group">
                        <label for="exampleInputEmail1">Supported Documents</label>
                        <input type="text" class="form-control"name="docs_a14"  formControlName="docs_a14" placeholder="Supported Documents">
                      </div>
                      <button type="submit" class="btn btn-primary mt-2">Submit</button>
                    </form>
            </div>
        </div>
            
    
    </div>
    
</div>
