<div class="table-responsive">
    <!--Table-->
    <table class="table table-striped">
  
      <!--Table head-->
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Country</th>
          <th>City</th>
          <th>Position</th>
          <th>Age</th>
        </tr>
      </thead>
      <!--Table head-->
  
      <!--Table body-->
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Kate</td>
          <td>Moss</td>
          <td>USA / The United Kingdom / China / Russia </td>
          <td>New York City / Warsaw / Lodz / Amsterdam / London / Chicago</td>
          <td>Web Designer /UX designer / Ul designer / JavaScript Developer</td>
          <td>23</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Anna</td>
          <td>Wintour</td>
          <td>USA / The United Kingdom / China / Russia </td>
          <td>New York City / Warsaw / Lodz / Amsterdam / London / Chicago</td>
          <td>Web Designer /UX designer / Ul designer / JavaScript Developer</td>
          <td>36</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Jerry</td>
          <td>Horwitz</td>
          <td>USA / The United Kingdom / China / Russia </td>
          <td>New York City / Warsaw / Lodz / Amsterdam / London / Chicago</td>
          <td>Web Designer /UX designer / Ul designer / JavaScript Developer</td>
          <td>41</td>
        </tr>
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
  </div>