<div class="row justify-content-center">
    <div class="col-md-6 m-5">

        <div class="card">
            <div class="card-header">8.	GFM Activity (30)

            </div>
            <div class="card-body">
                <form action="#" [formGroup]="part_a17">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Batch</label>
                        <input type="text" class="form-control" name="batch" formControlName="batch" >
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">No of Students</label>
                        <input type="text" class="form-control" name="no_of_students" formControlName="no_of_students"  >
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">No. of meeting Planned</label>
                        <input type="text" class="form-control"name="meetings_planned"  formControlName="meetings_planned">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">No of Meetings Conducted</label>
                        <input type="text" class="form-control"name="meetings_conducted"  formControlName="meetings_conducted">
                      </div>  <div class="form-group">
                        <label for="exampleInputEmail1">Achievements/Improvement in student</label>
                        <input type="text" class="form-control"name="student_achievements"  formControlName="student_achievements">
                      </div>
                     
                      <div class="form-group">
                        <label for="exampleInputEmail1">Supported Documents</label>
                        <input type="text" class="form-control"name="docs_a17"  formControlName="docs_a17" placeholder="Supported Documents">
                      </div>
                      <button type="submit" class="btn btn-primary mt-2">Submit</button>
                    </form>
            </div>
        </div>
            
    
    </div>
    
</div>
