<div class="row justify-content-center">
    <div class="col-md-6 m-5">

        <div class="card">
            <div class="card-header">6.	Value Addition Programs/Courses (VAP) Designed and Organized (10)

            </div>
            <div class="card-body">
                <form action="#" [formGroup]="part_a15">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title of the Program/Course</label>
                        <input type="text" class="form-control" name="program_title" formControlName="program_title" >
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Duration</label>
                        <input type="text" class="form-control" name="duration" formControlName="duration"  >
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">No. of students attended</label>
                        <input type="text" class="form-control"name="no_students_attended"  formControlName="no_students_attended">
                      </div>
                     
                      <div class="form-group">
                        <label for="exampleInputEmail1">Supported Documents</label>
                        <input type="text" class="form-control"name="docs_a15"  formControlName="docs_a15" placeholder="Supported Documents">
                      </div>
                      <button type="submit" class="btn btn-primary mt-2">Submit</button>
                    </form>
            </div>
        </div>
            
    
    </div>
    
</div>
