
<!-- <div class="fluid-container"> -->
    <ul >
        <li ><span class="title">Sportology</span></li>
        <li style="float:right"><a href="#">Login</a></li>
        <li style="float:right" class="dropdown-submenu"><a href="#">Home</a></li>
        
        <li style="float:right"><a href="#">News</a></li>
        <li style="float:right"><a href="#">Contact</a></li>
        <li style="float:right"><a href="#">About</a></li>
        
      </ul>
<!-- </div> -->
<div class="fluid-container">
    <div class="row">
        <div class="col-md-8">
           
             <p ><i>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultrices sed nunc a tincidunt. 
            In pharetra, dui sit amet elementum iaculis, dui risus posuere velit, vitae auctor dui urna nec tellus. 
            Fusce porta mauris tincidunt, posuere quam et, mollis libero. Vivamus id fringilla est. Ut convallis tristique ultricies. 
            Aliquam tincidunt consectetur cursus. Cras scelerisque feugiat imperdiet. Donec at accumsan odio, a tempor nulla. 
            Integer laoreet nisi dignissim hendrerit imperdiet. Sed pulvinar ut felis et cursus. Aenean consectetur bibendum blandit. 
            In non lectus ut elit accumsan vehicula sit amet malesuada nulla. Ut rhoncus felis a imperdiet porttitor.
        
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultrices sed nunc a tincidunt. 
            In pharetra, dui sit amet elementum iaculis, dui risus posuere velit, vitae auctor dui urna nec tellus. 
            Fusce porta mauris tincidunt, posuere quam et, mollis libero. Vivamus id fringilla est. Ut convallis tristique ultricies. 
            Aliquam tincidunt consectetur cursus. Cras scelerisque feugiat imperdiet. Donec at accumsan odio, a tempor nulla. 
            Integer laoreet nisi dignissim hendrerit imperdiet. Sed pulvinar ut felis et cursus. Aenean consectetur bibendum blandit. 
            In non lectus ut elit accumsan vehicula sit amet malesuada nulla. Ut rhoncus felis a imperdiet porttitor

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultrices sed nunc a tincidunt. 
            In pharetra, dui sit amet elementum iaculis, dui risus posuere velit, vitae auctor dui urna nec tellus. 
            Fusce porta mauris tincidunt, posuere quam et, mollis libero. Vivamus id fringilla est. Ut convallis tristique ultricies. 
            Aliquam tincidunt consectetur cursus. Cras scelerisque feugiat imperdiet. Donec at accumsan odio, a tempor nulla. 
            Integer laoreet nisi dignissim hendrerit imperdiet. Sed pulvinar ut felis et cursus. Aenean consectetur bibendum blandit. 
            In non lectus ut elit accumsan vehicula sit amet malesuada nulla. Ut rhoncus felis a imperdiet porttitor</i>
        </p>
      
        </div>
        
    </div>

    ​<picture>
        <source srcset="..." type="image/svg+xml">
        <img src="download.jpg" class="img-fluid img-thumbnail" alt="...">
      </picture>

</div>