<div class="row justify-content-center">
    <div class="col-md-6 m-5">
      <h3>B) Professional Development (100)</h3>
        <div class="card">
            <div class="card-header">5. Academic Association (10)
            </div>
            <div class="card-body">
                <form action="#" [formGroup]="part_b15">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name of Institute</label>
                        <input type="text" class="form-control" name="institute_name"  formControlName="institute_name">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Type of Institute</label>
                        <input type="text" class="form-control" name="institute_type" formControlName="institute_type">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Nature of Association</label>
                        <input type="text" class="form-control" name="association_name"  formControlName="association_name">
                      </div>                  
                      <div class="form-group">
                        <label for="exampleInputEmail1">Supported Documents</label>
                        <input type="text" class="form-control" name="docs_b15" formControlName="docs_b15">
                      </div>
                      <button type="submit" class="btn btn-primary mt-2">Submit</button>
                    </form>
            </div>
        </div>
            
    
    </div>
    
</div>
