<div class="row justify-content-center">
    <div class="col-md-6 m-5">

        <div class="card">
            <div class="card-header">3.	Student’s attendance (10)

            </div>
            <div class="card-body">
                <form action="#" [formGroup]="part_a12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">subject</label>
                        <input type="text" class="form-control" name="subject" formControlName="subject"  placeholder="Select Semister">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Student Attendence %</label>
                        <input type="text" class="form-control" name="attendence_percentage" formControlName="attendence_percentage"  placeholder="Select Semister">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Supported Documents</label>
                        <input type="text" class="form-control"name="docs_a12"  formControlName="docs_a12" placeholder="Supported Documents">
                      </div>
                      <button type="submit" class="btn btn-primary mt-2">Submit</button>
                    </form>
            </div>
        </div>
            
    
    </div>
    
</div>
