<div class="container">

    <div class="row justify-content-center mt-4">
        <a href="user/info/dislpay" class="btn btn-default">View </a>
        <div class="col-md-6 bg bg-light">
            <form action="#" [formGroup]="infoForm">
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control"  formControlName="name"  placeholder="Your Name">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Designation</label>
                <input type="text" class="form-control" formControlName="designation" placeholder="Designation">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Department</label>
                <input type="text" class="form-control"  formControlName="department"  placeholder="Department">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Academic Year</label>
                <input type="text" class="form-control"  formControlName="academic_year" placeholder="Year">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
  

</div>
    